@{
    ViewData["Title"] = "Home Page";
}
<br>
<div class="text-center">
    <h1 class="display-4">Welkom bij Rent A Car</h1>
    <BR>
    <p>Op de Rent-A-Car website is het mogelijk om auto's te huren.</p>
</div>
